#{extends 'main.html' /}
#{set title:'Home' /}
#{set header:'The Spacebook Social Network' /}

<nav class="ui inverted blue menu">
  <a class="ui active item" href="/home">Home</a>
  <a class="ui item" href="/members">Members</a>
  <a class="ui item" href="/profile">Profile</a>
  <a class="ui item" href="/logout">Logout</a>
</nav>

<section id="section" class="ui segment">
  <h2 class="ui inverted header">SpaceBook: Home Page for ${user.firstName} ${user.lastName}</h2>
  <div id="segmenthome" class="ui two column grid segment">
    <div class="ui row">
      <div class="ui column">
        <h2>Friends (${user.friendships.size()})</h2>
      </div>
      <div class="ui column">
        <h2>Messages</h2>
        <p> You have no friend
      </div>
    </div>
  </div>
</section>